.social-links {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.social-links a {
  color: #333;
  transition: color 0.3s ease;
}

#linkedin:hover{
  color: #0072b1; 
}

#email:hover{
  color: #fdf5aa; 
}

#github:hover{
  color: #6e5494
}